@font-face {
    font-family: Guaruja;
    font-weight: 400;
    src: url("../fonts/guaruja/Guaruja-Grotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: Guaruja;
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/guaruja/Guaruja-Grotesk-Italic.otf") format("opentype");
}

@font-face {
    font-family: Guaruja;
    font-weight: bold;
    src: url("../fonts/guaruja/Guaruja-Grotesk-Bold.otf") format("opentype");
}

@font-face {
    font-family: Guaruja;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/guaruja/Guaruja-Grotesk Bold-Italic.otf") format("opentype");
}