* {
	font-family: "Guaruja";
}

.img-center {
	margin: 0 auto;
}

header .navbar-default {
	position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    background: transparent;
    border: none;
}

.menu {
	position: fixed;
	width: 100%;
	padding: 20px 0px;
	z-index: 10000;
	transition: 0.4s;
}
.menu .logo-amarela,
.menu .logo-header-amarela,
.menu .logo-header.logo-inteira.logo-amarela.logo-change {
	opacity: 0;
}
.menu .logo-amarela.menu-scroll {
	opacity: 1;
}
.menu .logo-header {
	margin-left: 50px;
	position: absolute;
	z-index: 10;
	transition: 0.5s;
}
.menu .logo-menor {
	width: 56px;
}
.menu .logo-menor.logo-change {
	width: 0px;
}
.menu .logo-header.logo-inteira,
.menu .logo-header.logo-change {
	opacity: 0;
	position: absolute;
	transition: 0.5s;
}
.menu .logo-header.logo-inteira,
.menu .logo-header-amarela.menu-scroll {
	width: 0px;
}
.menu .logo-header.logo-inteira.logo-change,
.menu .logo-header-amarela.logo-change.menu-scroll {
	opacity: 1;
	transition: 0.5s;
	width: 330px !important;
}
.menu .hidden-logos {
	opacity: 0 !important;
}
.hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #ffffff;
  transition: 0.5s;
}
.hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.hamburger-lines.clicked .line1 {
  transform: rotate(45deg);
}
.hamburger-lines.clicked .line2 {
  transform: scaleY(0);
}
.hamburger-lines.clicked .line3 {
  transform: rotate(-45deg);
}
.submenu {
	background: #000;
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: -1;
	opacity: 0;
  transition: 0.5s;
}
.submenu ul {
	list-style: none;
	position: absolute;
	top: 25%;
  padding-left: 70px;
}
.submenu ul li {
	cursor: pointer;
	transition: 0.4s;
}
.submenu ul li,
.submenu ul li a {
	color: #ffffff;
	font-size: 40px;
}
.submenu .itens-projetos {
	margin-bottom: 20px;
	opacity: 0;
	position: absolute;
	transition: 0.4s;
	display: none;
}
.submenu .itens-projetos.itens-show {
	opacity: 1;
	position: relative;
	display: block;
}
.submenu .itens-projetos a {
	font-size: 25px;
	display: block;
}
.open {
	width: 100%;
	opacity: 1;
	z-index: 1000;
  transition: 0.5s;
}

.banner-principal {
	background: url("../img/banner-principal.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.banner-principal .container {
	height: 100vh;
	position: relative;
}
.banner-principal h1 {
	color: #ffffff;
	font-size: 100px;
	font-weight: bold;
	margin: 0px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 150px;
  transform: translateY(-50%);
}
.banner-principal .flecha-topo {
	position: absolute;
  top: 60%;
  right: 0;
  width: 100px;
}

.sobre {
	padding: 200px 0px;
}
.sobre .img-sobre {
	width: 100%;
}
.sobre .texto-sobre p {
	color: #000;
	font-size: 18px;
}
.sobre .texto-sobre h2 {
	color: #000;
	font-size: 34px;
}

.premios {
	background: #cecdcb;
	padding-top:	100px;
	padding-bottom: 150px;
}
.premios .chamada-premios {
	position: relative;
	padding-bottom: 200px;
}
.premios .chamada-premios .ag {
	position: absolute;
	right: 200px;
}
.premios .chamada-premios .logo-premios {
	position: absolute;
  right: 0;
  width: 25%;
}
.premios .chamada-premios .anywhere-agency {
	position: absolute;
	top: 220px;
  left: 130px;
  z-index: 10;
  width: 80px;
}
.premios .chamada-premios .retangulo {
	position: absolute;
	top: -40px;
	left: 130px;
	width: 480px;
	z-index: 1;
}
.premios .chamada-premios .col-titulo {
	z-index: 10;
}
.premios .chamada-premios h2 {
	color: #000;
	font-size: 140px;
	font-weight: bold;
	text-align: right;
}
.premios .chamada-premios h2 img {
	position: absolute;
	left: 130px;
  bottom: 140px
}
.premios .chamada-premios p {
	color: #000;
	font-size: 20px;
	position: relative;
	z-index: 1000;
}
.premios .chamada-premios p strong {
	color: #000;
	font-size: 35px;
	display: block;
}
.premios .chamada-premios .asterisco-premios {
	position: absolute;
  right: 280px;
}
.premios .chamada-premios .flechas-premios {
	position: relative;
  top: 50px;
  left: -50px;
}
.premios .lista-premios {
	position: relative;
	padding-top: 100px;
}
.premios .lista-premios .ag {
	position: absolute;
	top: -20px;
	right: 150px;
}
.premios .lista-premios .col-lista {
	margin-bottom: 40px;
}
.premios .lista-premios .col-lista .col-texto {
	padding-right: 0px;
}
.premios .lista-premios .logo-premios {
	width: 100%;
}
.premios .lista-premios h5 {
	color: #000;
	font-size: 14px;
}
.premios .lista-premios .asterisco-premios {
	position: absolute;
	right: 0;
}

.projetos .chamada-projetos {
	background: #ffffff;
	padding: 200px 0px;
}
.projetos .chamada-projetos .ag {
	position: absolute;
  right: 200px;
}
.projetos .chamada-projetos h1 {
	color: #000;
	font-size: 140px;
	font-weight: bold;
}
.projetos .chamada-projetos p {
	color: #000;
	font-size: 20px;
}
.projetos .chamada-projetos .arrow-idea {
	position: relative;
  top: 200px;
  float: right;
}
.slider-projetos {
	position: relative;
}
.slider-projetos .box-projeto {
	position: absolute;
	top: 0;
  background: #000;
  height: 100%;
  width: 400px;
  z-index: -1;
  padding: 50px;
  opacity: 0;
  transition: 0.4s;
}
.slider-projetos .box-projeto.show-box {
	opacity: 1;
	z-index: 1000;
}
.slider-projetos .open-text {
	position: absolute;
  top: 45%;
  z-index: 100;
  left: 100px;
  transition: 0.4s;
  cursor: pointer;
}
.slider-projetos .selo-slider {
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 100;
}
.slider-projetos .open-text.rotate-icon {
	left: 450px;
  transform: rotate(180deg);
}
.slider-projetos .box-projeto p {
	color: #ffffff;
	font-size: 18px;
}
.slider-projetos .box-projeto h5 {
	color: #ffffff;
	font-size: 20px;
	position: absolute;
	bottom: 50px;
}
.slider-projetos .box-projeto h5.cliente {
	left: 50px;
}
.slider-projetos .box-projeto h5.ano {
	right: 50px;
}
.slider-projetos .owl-dots {
	position: absolute;
  bottom: 0;
  width: 100%;
}
.slider-projetos .item img {
	width: 100%;
}
.wp-video, video.wp-video-shortcode, .mejs-container, .mejs-overlay.load {
    width: 100% !important;
    height: 100% !important;
}
.mejs-container {
    padding-top: 56.25%;
}
.wp-video, video.wp-video-shortcode {
    max-width: 100% !important;
}
video.wp-video-shortcode {
    position: relative;
}
.mejs-mediaelement {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.mejs-controls {
    display: none;
}
.mejs-overlay-play {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto !important;
    height: auto !important;
}

.parceiros {
	position: relative;
}
.parceiros .chamada-parceiros {
	background: url("../img/bg-partners.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0px;
}
.parceiros .chamada-parceiros .ag-white {
	position: absolute;
  right: 180px;
  top: 70px;
}
.parceiros .chamada-parceiros h1 {
	color: #ffffff;
	font-size: 120px;
	font-weight: bold;
	margin-top: 18%;
}
.parceiros .chamada-parceiros h1 span {
	position: relative;
	left: 80px;
}
.parceiros .chamada-parceiros p {
	color: #ffffff;
	font-size: 20px;
	width: 500px;
  display: block;
  margin: auto;
}
.parceiros .chamada-parceiros p span {
	font-size: 30px;
	display: block;
}
.parceiros .chamada-parceiros .logo-partners {
	margin-top: 25%;
	width: 100%;
	margin-left: -80px;
}
.parceiros .lista-parceiros {
	background: #CECDCC;
	text-align: center;
	padding:  100px 0px;
}
.parceiros .lista-parceiros img {
	width: 100%;
	margin-bottom: 40px;
}

.contato {
	background: #ffffff;
}
.contato .container-fluid,
.contato .col-contato {
	padding: 0px;
}
.contato .formulario {
	background: #000;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 80px;
}
.contato .formulario h2 {
	color: #ffffff;
}
.contato .formulario input,
.contato .formulario textarea {
	background: transparent;
    border: 2px solid #ffffff;
    width: 70%;
    padding: 10px;
}
.contato .formulario input[type=submit] {
	color: #ffffff;
	width: 150px;
	font-size: 16px;
	transition: 0.4s;
}
.contato .formulario input[type=submit]:hover {
	background: #ffffff;
	color: #000;
}
::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
:-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
.contato .infos {
	padding-top: 50px;
	padding-left: 40px;
}
.contato .infos h4 {
	color: #000;
	font-size: 38px;
	font-weight: bold;
}
.contato .infos p {
	color: #000;
	font-size: 28px;
}
.contato .infos h5 {
	color: #000;
	font-size: 14px;
}
.contato .infos h5 strong {
	color: #000;
	font-size: 18px;
	font-weight: bold;
	display: block;
}
.contato .infos .borda-footer {
	display: block;
	margin: 40px 0px;
	width: 70%;
}
.contato .infos .logo-footer {
	display: block;
}
.contato p.copyright {
	color: #0F2027 !important;
	font-size: 10px !important;
	margin-top: 40px;
	display: inline-block;
}
.contato .redes-sociais {
	display: inline-block;
	margin-left: 320px;
}
.contato .redes-sociais ul {
	list-style: none;
	padding: 0px;
}
.contato .redes-sociais ul li {
	display: inline;
}
.contato .redes-sociais ul li a {
	color: #000;
	font-size: 28px;
	text-decoration: none;
	margin-right: 10px;
}

@media (max-width: 767px) {
	.menu .logo-header {
		margin-top: 10px;
    margin-left: 10px;
    width: 50px;
	}
	.menu .logo-header.logo-inteira,
	.menu .logo-header-amarela.menu-scroll {
		top: 45px;
		width: 0px !important;
	} 
	.menu .logo-header.logo-inteira.logo-change, 
	.menu .logo-header-amarela.logo-change.menu-scroll {
		top: 45px;
		width: 120px !important;
	}
	.menu .logo-menor.logo-change {
		width: auto;
	}
	.submenu ul {
		padding-left: 30px;
	}
	.hamburger-lines {
		right: 20px;
	}
	.banner-principal {
		background: url(../img/banner-mobile.jpg);
		background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	}
	.banner-principal h1 {
		font-size: 50px;
		top: 70%;
		left: 0;
		right: 0;
	}
	.banner-principal .flecha-topo {
		right: 20px;
    width: 40px;
	}
	.sobre {
		padding: 50px 0px;
	}
	.sobre img {
		width: 100%;
		margin-bottom: 40px;
	}
	.sobre .texto-sobre p {
		font-size: 16px;
	}
	.sobre .texto-sobre h2 {
		font-size: 20px;
	}
	.premios {
		padding-bottom: 80px;
	}
	.premios .chamada-premios {
		padding-bottom: 100px;
	}
	.premios .chamada-premios h2 {
		font-size: 40px;
	}
	.premios .chamada-premios .ag {
		top: -40px;
		right: 20px;
		width: 50px;
	}
	.premios .chamada-premios .retangulo {
		width: 50%;
    left: 0;
    height: 700px;
	}
	.premios .chamada-premios .anywhere-agency {
		left: 10px;
    z-index: 10;
    width: 10%;
	}
	.premios .chamada-premios p {
		font-size: 14px;
    z-index: 100;
    position: relative;
    margin-left: 100px;
	}
	.premios .chamada-premios p strong {
		font-size: 16px;
	}
	.premios .chamada-premios .flechas-premios {
		display: none;
	}
	.premios .lista-premios .ag {
		display: none;
	}
	.premios .chamada-premios .logo-premios {
		display: none;
	}
	.premios .lista-premios {
		padding-top: 0px;
	}
	.premios .lista-premios h5 {
		font-size: 16px;
	}
	.premios .lista-premios .col-lista {
		margin-bottom: 0px;
	}
	.premios .lista-premios .col-lista .col-texto {
		margin-bottom: 40px;
	}
	.premios .lista-premios #slider-premios-mobile .item img {
		width: 60%;
		margin: auto;
	}
	#slider-premios-mobile .owl-dots .owl-dot span {
		background: #ffc52e;
	}
	#slider-premios-mobile .owl-dots .owl-dot.active span, 
	#slider-premios-mobile .owl-dots .owl-dot:hover span {
		background: #000 !important;
	}
	.projetos .chamada-projetos {
		padding: 50px 0px;
	}
	.projetos .chamada-projetos .ag {
		right: 20px;
		width: 50px;
	}
	.projetos .chamada-projetos h1 {
		font-size: 40px;
		text-align: center;
		margin: 50px 0px;
	}
	.projetos .chamada-projetos p {
		font-size: 16px;
		margin-top: 40px;
	}
	.projetos img.linha {
		width: 100%;
	}
	.projetos .chamada-projetos .arrow-idea {
		top: 0px;
		width: 40px;
	}
	.slider-projetos .open-text {
		display: none;
	}
	.parceiros .chamada-parceiros .logo-partners {
		margin-top: 0px;
		margin-left: 0px;
	}
	.parceiros .chamada-parceiros .arrow-partners {
		float: right;
    width: 100px;
	}
	.parceiros .chamada-parceiros h1 {
		font-size: 40px;
	}
	.parceiros .chamada-parceiros p {
		font-size: 16px;
		width: auto;
	}
	.parceiros .lista-parceiros img {
		width: 70%;
	}
	.slider-projetos .box-projeto {
		position: relative;
		width: 100%;
		opacity: 1 !important;
		z-index: 100 !important;
	}
	.slider-projetos .box-projeto p {
		margin-bottom: 50px;
	}
	.slider-projetos .selo-slider {
		top: 10px;
    right: 10px;
    width: 100px;
	}
	.contato .infos h4 {
		font-size: 28px;
	}
	.contato .infos p {
		margin-top: 0px;
		font-size: 18px;
	}
	.contato .infos h5 {
		line-height: 22px;
	}
	.contato .infos .borda-footer {
		width: 100%;
	}
	.contato .formulario {
		padding-left: 30px;
		padding-bottom: 40px;
	}
	.contato .formulario input, .contato .formulario textarea {
		width: 90%;
	}
	.contato .infos {
		padding: 30px;
	}
	.contato .redes-sociais {
		margin-top: 20px;
		margin-left: 0px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.premios .chamada-premios h2 {
		font-size: 100px;
	}
	.premios .chamada-premios .anywhere-agency,
	.premios .chamada-premios .asterisco-premios,
	.premios .chamada-premios .logo-premios {
		display: none;
	}
	.parceiros .chamada-parceiros .logo-partners {
		display: none;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.premios .chamada-premios h2 {
		font-size: 80px;
	}
	.projetos .chamada-projetos h1 {
		font-size: 100px;
	}
	.premios .lista-premios .logo-premios {
		margin-bottom: 50px;
	}
	.premios .lista-premios .col-lista {
		margin-bottom: 0px;
	}
	.parceiros .chamada-parceiros h1 {
		font-size: 80px;
	}
}

@media (min-width: 1580px) {
	.parceiros .chamada-parceiros h1 {
		font-size: 140px;
	}
}




